<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{model.name}}
      {{~#link-to 'spots.edit' this class="pull-right btn btn-warning btn-xs"}}
        Edit Spot
      {{~/link-to}}

      <button class="pull-right btn btn-warning btn-xs" {{action 'deleteSpot' }}>Delete Spot</button>
    </h3>
  </div>
  <div class="panel-body">
    {{model.location}}<br>
    Latitude: {{model.latitude}}<br>
    Longitude: {{model.longitude}}<br>
    {{model.image_url}}
    {{model.kind}}<br>
    {{model.price_range}}<br>
    {{model.style}}<br>
    {{model.hours}}<br>
    Accepts cards: {{model.card}}<br>
    {{model.dates}}<br>
  </div>
</div>
<div class="text-center">
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAs1EqVwjjQtzplL4v02060BCBctNNN6Ww
    &q={{model.location}}">
  </iframe>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Closest ThriftORs! (Within 20 Miles, from nearest to furthest!)</div>
  <div class="panel-body">
    <ul class="closeThriftors">
      {{#each spot in model.nearbys}}
        <li>
            {{~#link-to 'spots.show' spot}}
              {{spot.name}}
            {{~/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
