<h4>{{name}}</h4>
<h6>{{location}}</h6>
<h6>{{kind}}</h6>
{{image_url}}
<h6>{{price_range}}</h6>
<h6>{{style}}</h6>
<h6>{{hours}}</h6>
<h6>Accepts cards: {{card}}</h6>
<h6>{{dates}}</h6>
<h6>{{phone}}</h6>
